/* global css styles */

:root {
    /* --purple: #B63BFE; */
    --purple: #B83cda;
    --green: #adda3c;
    /* --green: #e4fe3b; */
    --orange: #daa33c;
    /* --orange: #fea93b */
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div #indent{
    padding-left: 20px;
}

a:link#header{
    text-decoration: none;
    color: white;
}

a:visited#header{
    text-decoration: none;
    color: white;
}

a:hover#header{
    text-decoration: none;
    color: white;
}

a:active#header{
    text-decoration: none;
    color: white;
}

a:link#body {
    text-decoration: none;
}

a:visited#body {
    text-decoration: none;
}

a:hover#body {
    text-decoration: none;
}

a:active#body {
    text-decoration: none;
}

.center {
    text-align: center;
}

.left-indent {
    text-align: left;
    width: 75%;
    margin: auto;
}

.big-div-intro {
    height: calc(100vh - 31px);
    width: 100vw;
    background-color: var(--purple);
    text-align: center;
    font-size: 48px;
    color: white;
    line-height: calc(100vh - 31px);
    max-width: 100%;
}

.big-div-orange {
    width: 100vw;
    background-color: var(--orange);
    color: white;
    max-width: 100%;
}

.big-div-green {
    width: 100vw;
    background-color: var(--green);
    color: white;
    max-width: 100%;
}

.title-purple {
    text-align: center;
    margin: auto;
    border-bottom: 10px solid var(--purple);
}

.title-green {
    text-align: center;
    margin: auto;
    border-bottom: 10px solid var(--green);
}

.title-orange {
    text-align: center;
    margin: auto;
    border-bottom: 10px solid var(--orange);
}

p {
    font-size: 18px;
}

.wrap-center {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 75%;
}


#em {
    color: var(--purple);
    font-weight: bold;
}

a {
    color: var(--orange);
    font-weight: bold;
    text-decoration: none;
}

.sub-title-purple {
    text-align: center;
    margin: auto;
    border-bottom: 5px solid var(--purple);
    font-size: 20px;
}

.sub-title-green {
    text-align: center;
    margin: auto;
    border-bottom: 5px solid var(--green);
    font-size: 20px;
}

.sub-title-orange {
    text-align: center;
    margin: auto;
    border-bottom: 5px solid var(--orange);
    font-size: 20px;
}

.no-margin-top {
    margin-top: 0px;
}