/* global css styles */

:root {
    --brightPurple: #B63BFE;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div #indent{
    padding-left: 20px;
}

a:link#header{
    text-decoration: none;
    color: white;
}

a:visited#header{
    text-decoration: none;
    color: white;
}

a:hover#header{
    text-decoration: none;
    color: white;
}

a:active#header{
    text-decoration: none;
    color: white;
}

a:link#body {
    text-decoration: none;
}

a:visited#body {
    text-decoration: none;
}

a:hover#body {
    text-decoration: none;
}

a:active#body {
    text-decoration: none;
}

.center {
    text-align: center;
}

.intro-div {
    height: calc(100vh - 31px);
    width: 100vw;
    background-color: var(--brightPurple);
    text-align: center;
    font-size: 48px;
    color: white;
    line-height: calc(100vh - 31px);
    max-width: 100%;
}

.title {
    text-align: center;
    margin: auto;
    border-bottom: 10px solid var(--brightPurple);
}

p {
    font-size: 24px;
}

.wrap-center {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 75%;
}